@font-face 
  font-family: 'Raleway-SemiBold'
  font-style: normal
  src: url('../fonts/raleway/raleway-v14-latin-600.woff2') format('woff2')
  font-display: swap

@font-face 
  font-family: 'Raleway-Bold'
  font-style: normal
  src: url('../fonts/raleway/raleway-800.woff2') format('woff2')
  font-display: swap

@font-face 
  font-family: 'Montserrat-Regular'
  font-style: normal
  src: url('../fonts/montserrat/Montserrat-Regular.woff') format('woff')
  font-display: swap

@font-face 
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  src: url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff')
  font-display: swap

@font-face 
  font-family: 'OpenSans-Bold'
  font-style: normal
  src: url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2')
  font-display: swap

@font-face 
  font-family: 'OpenSans-SemiBold'
  font-style: normal
  src: url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2')
  font-display: swap

@font-face 
  font-family: 'OpenSans-Regular'
  font-style: normal
  src: url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2')
  font-display: swap

@font-face 
  font-family: 'Tenoture'
  font-style: normal
  src: url('../fonts/tenoture/Tenoture.woff') format('woff')
  // font-display: swap

@mixin releway 
  font-family: 'Raleway-SemiBold', sans-serif

@mixin relewayBold
  font-family: 'Raleway-Bold', sans-serif

@mixin montserratRegular
  font-family: 'Montserrat-Regular', sans-serif

@mixin montserraSemiBold
  font-family: 'Montserrat-SemiBold', sans-serif

@mixin opensansBold
  font-family: 'OpenSans-Bold', sans-serif

@mixin opensansSemiBold
  font-family: 'OpenSans-SemiBold', sans-serif

@mixin opensansRegular
  font-family: 'OpenSans-Regular', sans-serif

@mixin tenoture
  font-family: 'Tenoture', sans-serif