@import 'fonts'
@import 'colors'
@import 'normalize'

@import 'blocks/home' 
@import 'blocks/about'
@import 'blocks/works'
@import 'blocks/footer'

@import 'animate/_base.scss'
@import 'animate/_bounceInRight.scss'
@import 'animate/_bounceInDown.scss'
@import 'animate/_fadeInLeft.scss'
@import 'animate/_fadeInUp.scss'
@import 'animate/_pulse.scss'
@import 'animate/_rubberBand.scss'
@import 'animate/_fadeInBottomLeft.scss'
@import 'animate/_fadeInBottomRight.scss'
@import 'animate/_shakeY.scss'

ul
  padding: 0
li 
  list-style-type: none
a
  text-decoration: none
  color: $text-color
  &:active
    -webkit-tap-highlight-color: rgba(0,0,0,0)  // убирает синюю рамку на мобильных при нажатии

.interblock-line
  width: 80%
  height: 0px
  margin-top: 50px
  margin-bottom: 10px
  border-top: 2px solid gray
  border-bottom: 2px solid #f5e6e6
  border-radius: 50%
.main-wrapper
  background: url('../img/home/home__background.jpg') center
  background-attachment: fixed
  background-size: cover
  overflow: hidden
  min-height: 500px
  position: relative
  z-index: 10
  display: flex
  flex-direction: column
  align-items: center

.main-content
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 90%
  max-width: 1920px
  background: url('../img/about/about__background.png') no-repeat
  background-size: cover

.main-language
  position: absolute
  right: 10%
  top: 30px
  &__button
    color: white
    +tenoture 
    font-size: 18px
    text-shadow: 0px 0px 7px white
    transition: all 0.5s
    &:hover
      color: red

@media (max-width: 1600px)
  .container
    padding: 30px 0 60px 0

@media (max-width: 1023px)
  .main-language  
    &__button
      font-size: 16px

@media (max-width: 767px)
  .main-content
    background: url('../img/about/about__background--mobile.png') no-repeat
    background-size: cover
  .interblock-line
    margin-top: 30px
  .main-language
    top: 20px
    right: 6%
  

@media (max-width: 567px)
  .interblock-line
    margin-top: 10px
