.about
  background-size: 100% 100%
  &__container
    justify-content: space-between
    +releway 
    font-size: 22px
    line-height: 32px
    padding: 30px 0 90px 0
    display: flex
    flex-direction: column
    position: relative
  &__foto-me
    position: absolute
    left: -20px
    top: 220px
    width: 800px
    & img
      width: 100%
  &__description
    color: black
    margin-left: 600px
    margin-right: 100px
    padding-top: 20px
    height: 550px
  &__title
    +relewayBold
    font-size: 32px
    padding-bottom: 15px
  &__text
    text-indent: 3em
    margin: 0
    overflow: auto
    max-height: 480px
    text-align: justify
    &--ru
      +montserratRegular
      font-weight: 700
  &__details
    width: 48%
    padding-top: 50px
    padding-bottom: 0px
    display: flex
    align-self: flex-end
  &__contact-title
    +relewayBold
    font-size: 32px
  &__contact--ru p
    +montserratRegular
    font-weight: 700
  &__download
    padding-top: 30px
    &--ru
      +montserratRegular
  &__download-ref
    display: flex
    align-items: center
    margin-top: 50px
    margin-left: 70px
    height: 55px
    width: 270px
    padding: 0 10px
    color: #fff
    +releway
    letter-spacing: 0.7px
    font-size: 20px
    background-color: #464343 
    border-radius: 3px
    line-height: 55px
    transition-duration: 0.3s
    transition-property: transform
    transform: translateZ(0)
    transition: all 0.4s ease
    &--ru
      +montserratRegular
      font-weight: 700
      width: 250px
    &:before 
      pointer-events: none
      position: absolute
      z-index: -1
      content: ''
      top: 100%
      left: 5%
      height: 10px
      width: 90%
      opacity: 0
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%)
      transition-duration: 0.3s
      transition-property: transform, opacity
    &:hover,
    &:focus
      transform: translateY(-6px)
      animation: hover-wave 1.3s linear infinite alternate
      animation-delay: 0.3s
      transition: all 0.4s ease
      background-color: #5b5b5b9a  
      color: black
      box-shadow: 0 0 2px 2px black, 0 0 2px 3px white
      .download-icon__fill
        transition: all 0.4s ease
        fill: black
      &:before
        opacity: 0.4
        transform: translateY(6px)
        animation: hover-wave-shadow 1.3s linear infinite alternate
        animation-delay: 0.3s
  &__download-icon
    display: inline-block
    width: 40px
    height: 40px
    padding-left: 5px  
    padding-right: 5px

.download-icon__fill
  fill: white

  
@media (min-width: 1920px)
  .about
    &__details
      width: 52%
    &__download
      padding-left: 7%

@media (max-width: 1750px)
  .about
    &__text--ru
      line-height: 28px

@media (max-width: 1650px)
  .about
    &__container
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      padding: 20px 0 0 0
    &__title
      position: relative
      text-transform: uppercase
      &::after
        content: ''
        position: absolute
        width: 1px
        border-bottom: 1px solid black //rgba(135, 135, 135, 0.5)
        transform: scaleX(90)
        bottom: -20px
        left: 48%
    &__description
      width: 100%
      height: auto
      display: flex
      flex-direction: column
      align-items: center
      margin: 0 50px
      padding-bottom: 50px
    &__text
      max-height: 10000px
      margin: 30px 50px 0 50px
    &__foto-me
      position: static
      width: 55%
    &__details
      width: 45%
      align-self: center
      flex-direction: column
      align-items: center
    &__download-ref
      margin-left: 0px
    //   &--ru
    //     width: 290px
    // &__download-icon
    //   padding-left: 10px
    //   padding-right: 15px

@media (max-width: 1199px)
  .about
    &__title
      font-size: 30px
      &::after
        bottom: -15px
    &__text
      margin: 20px 50px 0 50px
      font-size: 20px
      line-height: 30px
    &__details
      padding-top: 0px
      font-size: 20px
    &__contact-title
      font-size: 30px
    &__download-ref
      font-size: 18px

@media (max-width: 1023px)
  .about
    &__title
      margin: 0 0 25px 0
      font-size: 24px
      &::after
        bottom: -8px
        transform: scaleX(80)
    &__text
      margin: 10px 20px 0 20px
      font-size: 18px
      line-height: 25px
    &__details
      line-height: 28px  
      font-size: 18px
    &__contact-title
      font-size: 24px
    &__download
      padding-top: 0px
    &__download-ref
      font-size: 16px
      height: 50px
      width: 220px

@media (max-width: 767px)
  .about
    &__description
      padding-top: 10px
      margin: 0 30px
      padding-bottom: 25px
    &__title
      margin: 0 0 5px 0
      font-size: 20px
      &::after
        bottom: 4px
        transform: scaleX(70)
    &__text
      margin: 10px 0px 0 10px
      font-size: 16px
      line-height: 22px
      text-indent: 2em
    &__details
      font-size: 16px
    &__contact-title
      font-size: 20px
    &__download-icon
      padding-right: 0px
      padding-left: 0px
    &__download-ref
      padding-left: 5px 
      margin-top: 0px
      font-size: 14px
      height: 45px
      width: 182px

@media (max-width: 567px)
  .about
    &__container
      padding-bottom: 30px
    &__description
      margin: 0 20px
      padding-top: 0px
      padding-bottom: 15px
    &__title
      font-size: 18px
      &::after
        bottom: 8px
        transform: scaleX(50)
    &__text
      margin: 0
      font-size: 14px
      line-height: 20px
      text-indent: 1.75em
    &__foto-me
      width: 100%
    &__details
      width: 100%
      font-size: 14px
      line-height: 20px
      text-align: center
    &__contact-title
      font-size: 18px