@keyframes hover-wave 
  50% 
    transform: translateY(-3px)
  100% 
    transform: translateY(-6px)

@keyframes hover-wave-shadow 
  0% 
    transform: translateY(6px)
    opacity: 0.4
  50% 
    transform: translateY(3px)
    opacity: 1
  100% 
    transform: translateY(6px)
    opacity: 0.4

.hover-git // so that the animation does not break when playing on hover
  &:hover,
  &:focus
    transform: translateY(-6px)
    animation: hover-wave 1.3s linear infinite alternate
    animation-delay: 0.3s
    &:before
      opacity: 0.4
      transform: translateY(6px)
      animation: hover-wave-shadow 1.3s linear infinite alternate
      animation-delay: 0.3s

.hover-social // so that the animation does not break when playing on hover
  &:hover
    transform: scale(1.4)
    transition: all 0.2s ease

.footer
  width: 100%
  min-height: 550px
  z-index: 10
  color: #ccc
  &__container
    width: 100%
    position: fixed
    bottom: 0
    background-image: url('../img/footer/footer__background.png')
    z-index: 0
    min-height: 550px
    display: flex
    align-items: center
    flex-direction: column
  &__title
    margin-top: 90px
    margin-bottom: 15px
    font-size: 56px
    +montserratRegular
  &__text
    text-align: center
    width: 1200px
    font-size: 20px
    margin-bottom: 70px
    line-height: 30px
    +releway 
    &--ru
      +montserratRegular
      font-weight: 700
  &__contact
    display: flex
    flex-direction: column
    padding-bottom: 80px
  &__copyright
    align-self: flex-end
    margin-right: 50px

.contact
  &__hosting
    display: flex
    justify-content: center
    padding-bottom: 40px
    &-item
      color: #e9e9e9
      padding: 7px 50px
      padding-bottom: 10px
      text-align: center
      width: 200px
      font-size: 18px
      +releway 
      display: inline-block
      position: relative
      transition-duration: 0.3s
      transition-property: transform
      transform: translateZ(0)
      box-shadow: 0 0 1px rgba(0, 0, 0, 0)
      &:before 
        pointer-events: none
        position: absolute
        z-index: -1
        content: ''
        top: 100%
        left: 5%
        height: 10px
        width: 90%
        opacity: 0
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%)
        transition-duration: 0.3s
        transition-property: transform, opacity
  &__gitlab
    background: #e4800f
    &-icon
      display: inline-block
      width: 30px
      height: 30px
      background: url('../img/footer/icon_gitlab.png') no-repeat
      background-size: contain
      margin-bottom: -7px 
      margin-right: 10px
  &__github
    background: #18c2e0
    &-icon
      display: inline-block
      width: 30px
      height: 30px
      background: url('../img/footer/icon_github.png') no-repeat
      background-size: contain
      margin-bottom: -7px 
      margin-right: 10px
  &__telegram
    background: url('../img/footer/icon_telegram.png')
  &__twitter
    background: url('../img/footer/icon_twitter.png')
  &__skype
    background: url('../img/footer/icon_skype.png')
  &__vk
    background: url('../img/footer/icon_vk.png')
  &__fb
    background: url('../img/footer/icon_fb.png')
  &__social
    padding-top: 10px
    display: flex
    justify-content: center
    &-item
      display: inline-block
      width: 40px
      height: 40px
      background-size: contain
  &__telegram,
  &__twitter,
  &__skype,
  &__vk,
  &__fb
    transition: all 0.7s ease
    &:not(.contact__fb)
      margin-right: 30px

@media (max-width: 1649px)
  .footer
    &__text
      width: 950px

@media (max-width: 1199px)
  .footer
    &__title
      font-size: 50px
    &__text
      text-align: center
      width: 750px
      font-size: 18px
      line-height: 25px
    &__copyright
      font-size: 14px
  .contact
    &__hosting
      &-item
        font-size: 16px

@media (max-width: 1023px)
  .footer
    min-height: 520px
    &__container
      min-height: 520px
    &__title
      font-size: 44px
      margin-top: 70px
    &__text
      width: 550px
      font-size: 17px
    &__copyright
      font-size: 12px
  .contact
    &__hosting
      &-item
        width: 170px
    &__social-item
      width: 36px
      height: 36px

@media (max-width: 767px)
  .footer
    min-height: 430px
    &__container
      min-height: 430px
    &__title
      font-size: 38px
      margin-top: 50px
    &__text
      width: 450px
      font-size: 16px
      margin-bottom: 50px
      &--ru
        width: 490px
        margin-top: 0
        margin-bottom: 30px
    &__copyright
      margin-right: 20px
      font-size: 11px
  .contact
    padding-bottom: 40px
    &__hosting
      flex-direction: column
      align-items: center
      padding-bottom: 10px
      &-item
        width: 250px
    &__social-item
      width: 32px
      height: 32px
        
@media (max-width: 567px)
  .footer
    &__title
      font-size: 34px
      margin-top: 30px
      margin-bottom: 0
      &--ru
        margin-top: 40px
        font-size: 30px
    &__text
      width: 270px
      font-size: 15px
      line-height: 20px
      margin-bottom: 30px
      &--ru
        margin-top: 20px
        width: 300px
        line-height: 18px
        font-weight: 500
        margin-bottom: 50px
    &__copyright
      font-size: 10px
  .contact
    padding-bottom: 40px
    &__hosting
      padding-bottom: 20px
      &-item
        font-size: 14px
        width: 150px
        height: 20px
    &__gitlab-icon,
    &__github-icon
      width: 25px
      height: 25px

@media (max-height: 430px)
  .footer
    min-height: 320px
    &__container
      min-height: 320px
    &__title
      margin-top: 30px
    &__text
      margin-top: 0
      margin-bottom: 40px
      line-height: 20px
  .contact
    padding-bottom: 20px
    &__hosting
      flex-direction: row
      padding-bottom: 30px
      &-item
        font-size: 14px
        width: 120px
        height: 17px
    &__gitlab-icon,
    &__github-icon
      width: 23px
      height: 23px
    &__social
      padding: 0