@keyframes gradient-me
  0%
    background-position: 0%
  50%
    background-position: 100%
  100%
    background-position: 0%
    
@keyframes move-arrow-home 
  0% 
    padding-top: 8px
    opacity: 0.9
  10% 
    padding-top: 10px
    opacity: 0.75
  20% 
    padding-top: 12px
    opacity: 0.6
  30%
    padding-top: 14px
    opacity: 0.45
  40%
    padding-top: 16px
    opacity: 0.3
  50%
    padding-top: 18px
    opacity: 0.15
  60%
    padding-top: 16px
    opacity: 0.3
  70%
    padding-top: 14px
    opacity: 0.45
  80%
    padding-top: 12px
    opacity: 0.6
  90%
    padding-top: 10px
    opacity: 0.75
  100%
    padding-top: 8px
    opacity: 0.9

@keyframes navigation-line-up
  0% 
    left: -50%
  50%
    left: 100%  
  100%
    left: -50%

@keyframes navigation-line-down
  0% 
    right: -50%
  50%
    right: 100%  
  100%
    right: -50%

.home
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  color: white
  &__text
    // min-height: 40vh
    width: 900px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    text-align: center
    margin-bottom: 3vh
  &__me
    background: linear-gradient(135deg, #ffffff 0%, #f50909 25%,  #e04db4 50%, #f50909 75%, #ffffff 100%)
    -webkit-background-clip: text
    color: transparent
    background-size: 400% 400%
    animation: gradient-me 10s linear infinite alternate
    +tenoture
    font-size: 65px
    margin: 0
    margin-bottom: 10vh//15%//140px
    &--ru
      font-size: 72px
      line-height: 105px
  &__phrase
    margin: 0
    +montserratRegular
    font-size: 22px
    line-height: 40px
  &__scroll-down
    width: 50px
    height: 50px
    border: 2px solid white
    border-radius: 50%
    cursor: pointer
    margin-bottom: 50px
    display: flex
    &:hover
      & .home__scroll-icon path
        transition: all 0.4s
        fill: red
  &__scroll-icon
    padding-left: 12px
    padding-top: 16px
    animation: move-arrow-home 1.2s linear infinite
    & path
      transition: all 1.2s

.navigation
  width: 550px
  padding: 2vh 0 //20px 0
  +releway 
  font-size: 15px
  letter-spacing: 3px
  &__menu-burger
    display: none
  &__list
    z-index: 10
    margin: 0
    display: flex
    justify-content: space-around
    transition: all 0.5s
  &__item
    padding: 10px 0
    position: relative
    overflow: hidden
    & a
      height: 100%
      color: white
      transition: all 0.5s
      &::before
        content: ''
        position: absolute
        width: 50%
        height: 2px
        background-color: red
        top: 5px
        left: -50%
      &::after
        content: ''
        position: absolute
        width: 50%
        height: 2px
        background-color: red
        bottom: 5px
        right: -50%
    &:hover
      & a
        color: red 
      & a::before
        animation: navigation-line-up 2s linear infinite
        transition: all 0.5s
      & a::after
        animation: navigation-line-down 2s linear infinite
        transition: all 0.5s

.fixed-header .js-navigation__list
  position: fixed

.fixed-header .js-navigation__list
  top: -50px
  width: 550px

.js-navigation__list.show
  top: 0px
  z-index: 10
  border-bottom-left-radius: 100px
  border-bottom-right-radius: 100px
  background-color: #2c0909e5 //#5B5B5B
  box-shadow: 0 0 3px 2px black, 0 0 5px 4px white
  transition: all 0.5s

.menu-burger
  &__button
    position: fixed
    top: 10px
    left: 20px
    z-index: 40
    width: 50px
    height: 50px
    transition: all 0.5s
    outline: none
    &:hover
      .menu-burger__lines
        filter: brightness(0.7)
  &__lines,
  &__lines::after,
  &__lines::before
    position: absolute
    width: 40px
    height: 4px
    box-shadow: 0 0 5px 4px black, 0 0 5px 5px white
    background-color: #c7b8b8cb
  &__lines
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &::after
      content: ''
      top: 12px
    &::before
      content: ''
      top: -12px 
  &--active
    & .menu-burger__lines
      background-color: transparent
      box-shadow: none
      &::before
        top: 0
        transform: rotate(45deg)
      &::after
        top: 0
        transform: rotate(-45deg)
    & .menu-burger__nav
      left: 0
    & .menu-burger__overlay
      display: block
  &__nav
    padding-top: 25%
    padding-bottom: 15%
    position: fixed
    z-index: 30
    display: flex
    flex-flow: column
    justify-content: flex-start
    background-color: #4d4d4de8
    overflow-y: auto
    top: 0
    left: -100%
    transition: all 0.5s
  &__link
    height: 12%
    padding: 10px 30px
    font-size: 32px
    +releway
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 5px
    color: black
    text-shadow: 0px 0px 5px white
    &--ru
      letter-spacing: 0px
    &:hover
      filter: brightness(0.7)
    &:active
      color: red
  &__overlay
    background: rgba(0, 0, 0, 0.5)
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 20


@media (max-width: 1200px)
  .home
    &__text
      width: 750px
    &__me
      font-size: 60px
      &--ru
        font-size: 65px
        line-height: 90px
    &__phrase
      width: 650px
      font-size: 20px
      line-height: 32px
  .navigation
    width: 450px
    font-size: 13px
  .fixed-header .js-navigation__list
    width: 450px

@media (max-width: 1023px)
  .home
    &__me
      font-size: 52px
      &--ru
        font-size: 60px
        line-height: 85px
    &__phrase
      font-size: 18px
      line-height: 30px
  .navigation
    width: 400px
    font-size: 12px
  .fixed-header .js-navigation__list
    width: 400px

@media (max-width: 767px)
  .home
    &__me
      font-size: 47px
      &--ru
        font-size: 52px
        line-height: 75px
    &__phrase
      width: 480px
      font-size: 16px
      line-height: 27px
    &__scroll-down
      width: 40px
      height: 40px
    &__scroll-icon
      width: 20px
      height: 20px 
      padding-left: 9px
  .navigation
    width: 350px
    padding-top: 15px
    &--ru
      width: 400px
  .fixed-header .js-navigation__list
    width: 350px
    &--ru
      width: 400px

@media (max-width: 567px)
  .navigation
    &__menu-burger
      display: block
  .navigation__list
    display: none
  .home
    &__text
      width: 300px
    &__me
      font-size: 34px
      &--ru
        font-size: 38px
        line-height: 55px
    &__phrase
      width: 270px
      font-size: 14px
      line-height: 22px


@media (max-height: 400px)
  .home
    &__scroll-down
      margin-bottom: 25px
//     height: 700px