@keyframes move-view-works
  0% 
    left: -10px
    top: 10px
  100%
    left: 0
    top: 0
    
@keyframes project-read-more
  0% 
    width: 50px
  20%
    width: 80px
  30%
    width: 67px
  50%
    width: 75px
  70%
    width: 69px
  100%
    width: 70px

.works
  width: 100%
  max-width: 1920px
  &__container
    align-items: center
    display: flex
    flex-direction: column
    padding: 30px 0 50px 0
  &__title
    +relewayBold
    font-size: 32px
    position: relative
    &::after
      content: ''
      position: absolute
      width: 1px
      border-bottom: 1px solid black //rgba(135, 135, 135, 0.5)
      bottom: -35px
      left: 48%
      transform: scaleX(100)
  &__text
    text-align: center
    width: 1024px
    margin: 50px 0 80px 0
    +releway
    font-size: 22px
    line-height: 32px
    &--ru
      +montserratRegular
      font-weight: 700
  &__project-place
    width: 90%
    display: flex
    flex-direction: column
    align-items: center
  &__project
    width: 100%
    display: flex
    justify-content: center
    overflow: hidden
    margin-bottom: 100px
 
.project
  &__thumbnail
    z-index: 1
  &__ref
    display: flex
    align-items: center
  &__figure
    margin: 0
    padding: 0
    text-align: center
    position: relative
    height: 320px
    width: 500px
    overflow: hidden
    background-color: #fff
    &::before
      z-index: 1
      content: ''
      position: absolute
      left: 45%
      top: 10%
      width: 50px
      height: 250px
      opacity: 0
      transition: 0.5s ease
      border-top: 1px solid white
      border-bottom: 1px solid white
      pointer-events: none
    &::after
      z-index: 1
      content: ''
      position: absolute
      left: 5%
      top: 47.5%
      width: 450px
      height: 10px
      opacity: 0
      transition: 0.5s ease
      border-left: 1px solid white
      border-right: 1px solid white
      pointer-events: none
    &:hover
      &::before
        opacity: 1
        transform: scaleX(8)
        transition: transform 0.5s
      &::after
        opacity: 1
        transform: scaleY(20)
        transition: transform 0.5s
  &__img
    height: 100%
    width: 100%
    filter: grayscale(20%)
  &__hover-content
    width: 100%
    height: 100%
    opacity: 1
    position: absolute
    top: 0
    left: 0
    transition: 0.7s ease
    display: flex
    justify-content: center
    align-items: center
    &:hover
      color: #ffffff
      background: rgba(0, 0, 0, 0.66)
      opacity: 1
      transition: all 0.7s
      .project__icon-view
        opacity: 1
      .project__icon-arrow
        animation: move-view-works 0.3s ease forwards
  &__icon-view
    width: 49px
    height: 49px
    opacity: 0
    position: relative
  &__icon-arrow
    position: absolute
    transition: all 0.7s
    left: -10px
    top: 10px
  &__info
    margin-top: 20px
    margin-left: -20px
    padding-left: 50px
    padding-right: 15px
    box-sizing: border-box
    height: 320px
    min-width: 450px
    max-width: 750px
    background-color: $bg-project__info
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    &::before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 0px
      height: 0px
      border: 20px solid transparent
      border-left: 20px solid $block-works-angle
  &__text-wrapper
    height: 180px
    padding-top: 30px
  &__name
    margin: 0
    padding: 0
    font-size: 24px
    +opensansBold
  &__text
    text-indent: 2em
    text-align: justify
    +opensansRegular
    overflow: auto
    height: 100%
    max-height: 140px
    font-size: 18px
    line-height: 24px
    margin-bottom: 0px
  &__stack
    z-index: 1
    display: flex
    flex-wrap: wrap
    flex-direction: column-reverse
    align-content: flex-end
    justify-content: flex-end
    max-height: 128px
    width: 85%
    margin-right: -40px
    &-wrapper
      display: flex
      justify-content: space-between
      align-items: flex-end
      margin-bottom: 20px
    &-item
      display: inline-block
      width: 48px
      height: 48px
      margin-right: 10px
      cursor: pointer
      transition: all 0.7s
      filter: opacity(75%)
      &:hover
        box-shadow: 0 0 5px 2px black, 0 0 5px 4px white
        filter: opacity(100%)
        transition: all 0.3s
      & img
        width: 48px
        height: 48px
  &__read-more
    z-index: 1
    background-color: $block-works-angle
    width: 50px
    height: 30px
    color: white
    display: flex
    justify-content: start
    align-items: center
    padding-left: 10px
    margin-bottom: 10px
    position: relative
    cursor: pointer
    &::after
      content: ''
      width: 10px
      height: 10px
      border: 1px solid white
      transform: rotate(45deg)
      border-left: transparent
      border-bottom: transparent
      position: absolute
      right: 15px
    & span
      width: 0px
      display: none
    &:hover
      & span
        display: block
      width: 70px
      animation: project-read-more .32s ease-in-out alternate
  &__info-angle
    float: right
    width: 40px
    height: 280px
    margin-top: 60px
    position: relative
    background-color: $bg-project__info
    &::after
      content: ''
      position: absolute
      right: 0px
      top: -40px
      width: 0px
      height: 0px
      border: 20px solid transparent
      border-left: 20px solid $block-works-angle
      border-bottom: 20px solid $block-works-angle
  &__text-hidden
    visibility: hidden


@media (max-width: 1199px)
  .works
    &__title
      font-size: 30px
      &::after
        transform: scaleX(90)
        bottom: -27px
    &__text
      width: 750px
      font-size: 20px
      margin: 30px 0 50px 0
    &__project
      flex-direction: column
      align-items: center
      margin-bottom: 50px
  .project
    &__figure
      height: 336px
      width: 600px
      & img 
        width: 100%
      &::before
        top: 12%
      &::after
        left: 8%
        width: 500px
      &:hover
        &::before
          transform: scaleX(8.85)
        &::after
          transform: scaleY(19)
    &__info
      margin-top: 0px
      margin-left: 0px
      padding-left: 30px
      padding-right: 30px
      width: 600px
      height: 240px
      &-angle
        margin-left: -40px
        width: 560px
        height: 40px 
        margin-top: 0px
        &::after
          right: -40px
          top: 0px
          border: 20px solid transparent
          border-left: 20px solid $block-works-angle
          border-top: 20px solid $block-works-angle
      &::before
        display: none
    &__name
      font-size: 22px
    &__text
      max-height: 100px
      font-size: 16px
      line-height: 20px
    &__stack
      margin-right: 40px
      &-wrapper
        margin-bottom: -20px

@media (max-width: 1023px)
  .works
    &__title
      font-size: 24px
      &::after
        transform: scaleX(80)
        bottom: -27px
    &__text
      width: 550px
      font-size: 18px
      line-height: 25px
  .project
    &__figure
      height: 275px
      width: 491px
      &::before
        top: 11%
        height: 210px
      &::after
        left: 8%
        width: 410px
      &:hover
        &::before
          transform: scaleX(7.5)
        &::after
          transform: scaleY(15.5)
    &__info
      width: 491px
      height: 200px
      padding-left: 30px
      &-angle
        width: 451px
    &__stack
      display: none
    &__name
      font-size: 21px
    &__text
      font-size: 15px
    &__read-more
      margin-bottom: 0px

@media (max-width: 767px)
  .works
    &__container
      padding: 30px 0 20px 0
    &__title
      margin: 0px
      font-size: 20px
      &::after
        transform: scaleX(70) 
        bottom: -15px
    &__text
      width: 450px
      font-size: 16px
      line-height: 22px
      margin-bottom: 30px
    &__project
      margin-bottom: 50px
  .project
    &__figure
      height: 220px
      width: 393px
      &::before
        opacity: 1
        left: 43%
        top: 13%
        height: 160px
        transform: scaleX(5.7)
      &::after
        opacity: 1
        left: 8%
        width: 325px
        transform: scaleY(12)
      &:hover
        &::before
          transform: scaleX(5.7)
        &::after
          transform: scaleY(12)
    &__hover-content
      background: rgba(0, 0, 0, 0.66)
      &:hover
        .project__icon-arrow
          animation: none
    &__icon-view
      opacity: 1
    &__icon-view svg
      width: 40px 
    &__icon-arrow
      left: 10px
      top: 0px
    &__info
      padding: 0 20px 0 20px
      min-width: 393px
      height: 150px
      width: 393px
      &-angle
        right: -5px
        width: 362px
        height: 30px
        &::after
          right: -30px
          border: 15px solid transparent
          border-left: 15px solid $block-works-angle
          border-top: 15px solid $block-works-angle
    &__text-wrapper
      padding-top: 15px
    &__name
      font-size: 17px
    &__text
      max-height: 93px
      margin-top: 10px
      font-size: 13px
      line-height: 18px
    &__read-more
      margin-bottom: 5px
      width: 60px
      height: 25px
      &::after
        width: 7px
        height: 7px
      & span
        font-size: 13px
        display: block

@media (max-width: 567px)
  .works
    &__container
      padding: 20px 0 20px 0
    &__title
      font-size: 18px
      &::after
        transform: scaleX(50)
        bottom: -11px
    &__text
      width: 260px
      font-size: 14px
      line-height: 22px
      margin: 20px 0px
    &__project
      margin-bottom: 50px
  .project
    &__figure
      height: 145px
      width: 260px
      &::before
        left: 40%
        height: 105px
        transform: scaleX(3.7)
      &::after
        width: 215px
        top: 47%
        transform: scaleY(7.5)
      &:hover
        &::before
          transform: scaleX(3.7)
        &::after
          transform: scaleY(7.5)
    &__icon-view svg
      width: 30px
    &__icon-arrow 
      left: 12px
    &__info
      padding: 0 10px 0 10px
      min-width: 260px
      height: 115px
      width: 260px
      &-angle
        right: -10px
        width: 240px
        height: 20px
        &::after
          right: -20px
          border: 10px solid transparent
          border-left: 10px solid $block-works-angle
          border-top: 10px solid $block-works-angle
    &__text-wrapper
      padding-top: 10px
    &__name
      font-size: 15px
    &__text
      max-height: 70px
      font-size: 11px
      margin-top: 5px
      line-height: 14px
      // &--ru
      //   max-height: 70px
      //   text-align: left
    &__read-more
      margin-bottom: 10px
      width: 50px
      height: 20px
      & span
        font-size: 10px
      &::after
        width: 6px
        height: 6px
        right: 11px