@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  src: url("../fonts/raleway/raleway-v14-latin-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  src: url("../fonts/opensans/OpenSans-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  src: url("../fonts/opensans/OpenSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  src: url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Tenoture';
  font-style: normal;
  src: url("../fonts/tenoture/Tenoture.woff") format("woff");
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@-webkit-keyframes gradient-me {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes gradient-me {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@-webkit-keyframes move-arrow-home {
  0% {
    padding-top: 8px;
    opacity: 0.9;
  }
  10% {
    padding-top: 10px;
    opacity: 0.75;
  }
  20% {
    padding-top: 12px;
    opacity: 0.6;
  }
  30% {
    padding-top: 14px;
    opacity: 0.45;
  }
  40% {
    padding-top: 16px;
    opacity: 0.3;
  }
  50% {
    padding-top: 18px;
    opacity: 0.15;
  }
  60% {
    padding-top: 16px;
    opacity: 0.3;
  }
  70% {
    padding-top: 14px;
    opacity: 0.45;
  }
  80% {
    padding-top: 12px;
    opacity: 0.6;
  }
  90% {
    padding-top: 10px;
    opacity: 0.75;
  }
  100% {
    padding-top: 8px;
    opacity: 0.9;
  }
}

@keyframes move-arrow-home {
  0% {
    padding-top: 8px;
    opacity: 0.9;
  }
  10% {
    padding-top: 10px;
    opacity: 0.75;
  }
  20% {
    padding-top: 12px;
    opacity: 0.6;
  }
  30% {
    padding-top: 14px;
    opacity: 0.45;
  }
  40% {
    padding-top: 16px;
    opacity: 0.3;
  }
  50% {
    padding-top: 18px;
    opacity: 0.15;
  }
  60% {
    padding-top: 16px;
    opacity: 0.3;
  }
  70% {
    padding-top: 14px;
    opacity: 0.45;
  }
  80% {
    padding-top: 12px;
    opacity: 0.6;
  }
  90% {
    padding-top: 10px;
    opacity: 0.75;
  }
  100% {
    padding-top: 8px;
    opacity: 0.9;
  }
}

@-webkit-keyframes navigation-line-up {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

@keyframes navigation-line-up {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

@-webkit-keyframes navigation-line-down {
  0% {
    right: -50%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: -50%;
  }
}

@keyframes navigation-line-down {
  0% {
    right: -50%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: -50%;
  }
}

.home {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.home__text {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3vh;
}

.home__me {
  background: linear-gradient(135deg, #ffffff 0%, #f50909 25%, #e04db4 50%, #f50909 75%, #ffffff 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient-me 10s linear infinite alternate;
          animation: gradient-me 10s linear infinite alternate;
  font-family: 'Tenoture', sans-serif;
  font-size: 65px;
  margin: 0;
  margin-bottom: 10vh;
}

.home__me--ru {
  font-size: 72px;
  line-height: 105px;
}

.home__phrase {
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 22px;
  line-height: 40px;
}

.home__scroll-down {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__scroll-down:hover .home__scroll-icon path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  fill: red;
}

.home__scroll-icon {
  padding-left: 12px;
  padding-top: 16px;
  -webkit-animation: move-arrow-home 1.2s linear infinite;
          animation: move-arrow-home 1.2s linear infinite;
}

.home__scroll-icon path {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.navigation {
  width: 550px;
  padding: 2vh 0;
  font-family: 'Raleway-SemiBold', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}

.navigation__menu-burger {
  display: none;
}

.navigation__list {
  z-index: 10;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation__item {
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}

.navigation__item a {
  height: 100%;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation__item a::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: red;
  top: 5px;
  left: -50%;
}

.navigation__item a::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: red;
  bottom: 5px;
  right: -50%;
}

.navigation__item:hover a {
  color: red;
}

.navigation__item:hover a::before {
  -webkit-animation: navigation-line-up 2s linear infinite;
          animation: navigation-line-up 2s linear infinite;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation__item:hover a::after {
  -webkit-animation: navigation-line-down 2s linear infinite;
          animation: navigation-line-down 2s linear infinite;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fixed-header .js-navigation__list {
  position: fixed;
}

.fixed-header .js-navigation__list {
  top: -50px;
  width: 550px;
}

.js-navigation__list.show {
  top: 0px;
  z-index: 10;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #2c0909e5;
  -webkit-box-shadow: 0 0 3px 2px black, 0 0 5px 4px white;
          box-shadow: 0 0 3px 2px black, 0 0 5px 4px white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-burger__button {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 40;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}

.menu-burger__button:hover .menu-burger__lines {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.menu-burger__lines, .menu-burger__lines::after, .menu-burger__lines::before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-box-shadow: 0 0 5px 4px black, 0 0 5px 5px white;
          box-shadow: 0 0 5px 4px black, 0 0 5px 5px white;
  background-color: #c7b8b8cb;
}

.menu-burger__lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-burger__lines::after {
  content: '';
  top: 12px;
}

.menu-burger__lines::before {
  content: '';
  top: -12px;
}

.menu-burger--active .menu-burger__lines {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-burger--active .menu-burger__lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-burger--active .menu-burger__lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-burger--active .menu-burger__nav {
  left: 0;
}

.menu-burger--active .menu-burger__overlay {
  display: block;
}

.menu-burger__nav {
  padding-top: 25%;
  padding-bottom: 15%;
  position: fixed;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #4d4d4de8;
  overflow-y: auto;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-burger__link {
  height: 12%;
  padding: 10px 30px;
  font-size: 32px;
  font-family: 'Raleway-SemiBold', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
  text-shadow: 0px 0px 5px white;
}

.menu-burger__link--ru {
  letter-spacing: 0px;
}

.menu-burger__link:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.menu-burger__link:active {
  color: red;
}

.menu-burger__overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

@media (max-width: 1200px) {
  .home__text {
    width: 750px;
  }
  .home__me {
    font-size: 60px;
  }
  .home__me--ru {
    font-size: 65px;
    line-height: 90px;
  }
  .home__phrase {
    width: 650px;
    font-size: 20px;
    line-height: 32px;
  }
  .navigation {
    width: 450px;
    font-size: 13px;
  }
  .fixed-header .js-navigation__list {
    width: 450px;
  }
}

@media (max-width: 1023px) {
  .home__me {
    font-size: 52px;
  }
  .home__me--ru {
    font-size: 60px;
    line-height: 85px;
  }
  .home__phrase {
    font-size: 18px;
    line-height: 30px;
  }
  .navigation {
    width: 400px;
    font-size: 12px;
  }
  .fixed-header .js-navigation__list {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .home__me {
    font-size: 47px;
  }
  .home__me--ru {
    font-size: 52px;
    line-height: 75px;
  }
  .home__phrase {
    width: 480px;
    font-size: 16px;
    line-height: 27px;
  }
  .home__scroll-down {
    width: 40px;
    height: 40px;
  }
  .home__scroll-icon {
    width: 20px;
    height: 20px;
    padding-left: 9px;
  }
  .navigation {
    width: 350px;
    padding-top: 15px;
  }
  .navigation--ru {
    width: 400px;
  }
  .fixed-header .js-navigation__list {
    width: 350px;
  }
  .fixed-header .js-navigation__list--ru {
    width: 400px;
  }
}

@media (max-width: 567px) {
  .navigation__menu-burger {
    display: block;
  }
  .navigation__list {
    display: none;
  }
  .home__text {
    width: 300px;
  }
  .home__me {
    font-size: 34px;
  }
  .home__me--ru {
    font-size: 38px;
    line-height: 55px;
  }
  .home__phrase {
    width: 270px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-height: 400px) {
  .home__scroll-down {
    margin-bottom: 25px;
  }
}

.about {
  background-size: 100% 100%;
}

.about__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Raleway-SemiBold', sans-serif;
  font-size: 22px;
  line-height: 32px;
  padding: 30px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.about__foto-me {
  position: absolute;
  left: -20px;
  top: 220px;
  width: 800px;
}

.about__foto-me img {
  width: 100%;
}

.about__description {
  color: black;
  margin-left: 600px;
  margin-right: 100px;
  padding-top: 20px;
  height: 550px;
}

.about__title {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 32px;
  padding-bottom: 15px;
}

.about__text {
  text-indent: 3em;
  margin: 0;
  overflow: auto;
  max-height: 480px;
  text-align: justify;
}

.about__text--ru {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 700;
}

.about__details {
  width: 48%;
  padding-top: 50px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about__contact-title {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 32px;
}

.about__contact--ru p {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 700;
}

.about__download {
  padding-top: 30px;
}

.about__download--ru {
  font-family: 'Montserrat-Regular', sans-serif;
}

.about__download-ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-left: 70px;
  height: 55px;
  width: 270px;
  padding: 0 10px;
  color: #fff;
  font-family: 'Raleway-SemiBold', sans-serif;
  letter-spacing: 0.7px;
  font-size: 20px;
  background-color: #464343;
  border-radius: 3px;
  line-height: 55px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.about__download-ref--ru {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 700;
  width: 250px;
}

.about__download-ref:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.about__download-ref:hover, .about__download-ref:focus {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-animation: hover-wave 1.3s linear infinite alternate;
          animation: hover-wave 1.3s linear infinite alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #5b5b5b9a;
  color: black;
  -webkit-box-shadow: 0 0 2px 2px black, 0 0 2px 3px white;
          box-shadow: 0 0 2px 2px black, 0 0 2px 3px white;
}

.about__download-ref:hover .download-icon__fill, .about__download-ref:focus .download-icon__fill {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  fill: black;
}

.about__download-ref:hover:before, .about__download-ref:focus:before {
  opacity: 0.4;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-animation: hover-wave-shadow 1.3s linear infinite alternate;
          animation: hover-wave-shadow 1.3s linear infinite alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.about__download-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.download-icon__fill {
  fill: white;
}

@media (min-width: 1920px) {
  .about__details {
    width: 52%;
  }
  .about__download {
    padding-left: 7%;
  }
}

@media (max-width: 1750px) {
  .about__text--ru {
    line-height: 28px;
  }
}

@media (max-width: 1650px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0 0 0;
  }
  .about__title {
    position: relative;
    text-transform: uppercase;
  }
  .about__title::after {
    content: '';
    position: absolute;
    width: 1px;
    border-bottom: 1px solid black;
    -webkit-transform: scaleX(90);
            transform: scaleX(90);
    bottom: -20px;
    left: 48%;
  }
  .about__description {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 50px;
    padding-bottom: 50px;
  }
  .about__text {
    max-height: 10000px;
    margin: 30px 50px 0 50px;
  }
  .about__foto-me {
    position: static;
    width: 55%;
  }
  .about__details {
    width: 45%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__download-ref {
    margin-left: 0px;
  }
}

@media (max-width: 1199px) {
  .about__title {
    font-size: 30px;
  }
  .about__title::after {
    bottom: -15px;
  }
  .about__text {
    margin: 20px 50px 0 50px;
    font-size: 20px;
    line-height: 30px;
  }
  .about__details {
    padding-top: 0px;
    font-size: 20px;
  }
  .about__contact-title {
    font-size: 30px;
  }
  .about__download-ref {
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  .about__title {
    margin: 0 0 25px 0;
    font-size: 24px;
  }
  .about__title::after {
    bottom: -8px;
    -webkit-transform: scaleX(80);
            transform: scaleX(80);
  }
  .about__text {
    margin: 10px 20px 0 20px;
    font-size: 18px;
    line-height: 25px;
  }
  .about__details {
    line-height: 28px;
    font-size: 18px;
  }
  .about__contact-title {
    font-size: 24px;
  }
  .about__download {
    padding-top: 0px;
  }
  .about__download-ref {
    font-size: 16px;
    height: 50px;
    width: 220px;
  }
}

@media (max-width: 767px) {
  .about__description {
    padding-top: 10px;
    margin: 0 30px;
    padding-bottom: 25px;
  }
  .about__title {
    margin: 0 0 5px 0;
    font-size: 20px;
  }
  .about__title::after {
    bottom: 4px;
    -webkit-transform: scaleX(70);
            transform: scaleX(70);
  }
  .about__text {
    margin: 10px 0px 0 10px;
    font-size: 16px;
    line-height: 22px;
    text-indent: 2em;
  }
  .about__details {
    font-size: 16px;
  }
  .about__contact-title {
    font-size: 20px;
  }
  .about__download-icon {
    padding-right: 0px;
    padding-left: 0px;
  }
  .about__download-ref {
    padding-left: 5px;
    margin-top: 0px;
    font-size: 14px;
    height: 45px;
    width: 182px;
  }
}

@media (max-width: 567px) {
  .about__container {
    padding-bottom: 30px;
  }
  .about__description {
    margin: 0 20px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .about__title {
    font-size: 18px;
  }
  .about__title::after {
    bottom: 8px;
    -webkit-transform: scaleX(50);
            transform: scaleX(50);
  }
  .about__text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-indent: 1.75em;
  }
  .about__foto-me {
    width: 100%;
  }
  .about__details {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .about__contact-title {
    font-size: 18px;
  }
}

@-webkit-keyframes move-view-works {
  0% {
    left: -10px;
    top: 10px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes move-view-works {
  0% {
    left: -10px;
    top: 10px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@-webkit-keyframes project-read-more {
  0% {
    width: 50px;
  }
  20% {
    width: 80px;
  }
  30% {
    width: 67px;
  }
  50% {
    width: 75px;
  }
  70% {
    width: 69px;
  }
  100% {
    width: 70px;
  }
}

@keyframes project-read-more {
  0% {
    width: 50px;
  }
  20% {
    width: 80px;
  }
  30% {
    width: 67px;
  }
  50% {
    width: 75px;
  }
  70% {
    width: 69px;
  }
  100% {
    width: 70px;
  }
}

.works {
  width: 100%;
  max-width: 1920px;
}

.works__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 50px 0;
}

.works__title {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 32px;
  position: relative;
}

.works__title::after {
  content: '';
  position: absolute;
  width: 1px;
  border-bottom: 1px solid black;
  bottom: -35px;
  left: 48%;
  -webkit-transform: scaleX(100);
          transform: scaleX(100);
}

.works__text {
  text-align: center;
  width: 1024px;
  margin: 50px 0 80px 0;
  font-family: 'Raleway-SemiBold', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.works__text--ru {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 700;
}

.works__project-place {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-bottom: 100px;
}

.project__thumbnail {
  z-index: 1;
}

.project__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__figure {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  height: 320px;
  width: 500px;
  overflow: hidden;
  background-color: #fff;
}

.project__figure::before {
  z-index: 1;
  content: '';
  position: absolute;
  left: 45%;
  top: 10%;
  width: 50px;
  height: 250px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  pointer-events: none;
}

.project__figure::after {
  z-index: 1;
  content: '';
  position: absolute;
  left: 5%;
  top: 47.5%;
  width: 450px;
  height: 10px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-left: 1px solid white;
  border-right: 1px solid white;
  pointer-events: none;
}

.project__figure:hover::before {
  opacity: 1;
  -webkit-transform: scaleX(8);
          transform: scaleX(8);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.project__figure:hover::after {
  opacity: 1;
  -webkit-transform: scaleY(20);
          transform: scaleY(20);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.project__img {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
}

.project__hover-content {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__hover-content:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  opacity: 1;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.project__hover-content:hover .project__icon-view {
  opacity: 1;
}

.project__hover-content:hover .project__icon-arrow {
  -webkit-animation: move-view-works 0.3s ease forwards;
          animation: move-view-works 0.3s ease forwards;
}

.project__icon-view {
  width: 49px;
  height: 49px;
  opacity: 0;
  position: relative;
}

.project__icon-arrow {
  position: absolute;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  left: -10px;
  top: 10px;
}

.project__info {
  margin-top: 20px;
  margin-left: -20px;
  padding-left: 50px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 320px;
  min-width: 450px;
  max-width: 750px;
  background-color: #694f2d7e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__info::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-left: 20px solid #473e3e;
}

.project__text-wrapper {
  height: 180px;
  padding-top: 30px;
}

.project__name {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'OpenSans-Bold', sans-serif;
}

.project__text {
  text-indent: 2em;
  text-align: justify;
  font-family: 'OpenSans-Regular', sans-serif;
  overflow: auto;
  height: 100%;
  max-height: 140px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0px;
}

.project__stack {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 128px;
  width: 85%;
  margin-right: -40px;
}

.project__stack-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.project__stack-item {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
}

.project__stack-item:hover {
  -webkit-box-shadow: 0 0 5px 2px black, 0 0 5px 4px white;
          box-shadow: 0 0 5px 2px black, 0 0 5px 4px white;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project__stack-item img {
  width: 48px;
  height: 48px;
}

.project__read-more {
  z-index: 1;
  background-color: #473e3e;
  width: 50px;
  height: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.project__read-more::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: transparent;
  border-bottom: transparent;
  position: absolute;
  right: 15px;
}

.project__read-more span {
  width: 0px;
  display: none;
}

.project__read-more:hover {
  width: 70px;
  -webkit-animation: project-read-more .32s ease-in-out alternate;
          animation: project-read-more .32s ease-in-out alternate;
}

.project__read-more:hover span {
  display: block;
}

.project__info-angle {
  float: right;
  width: 40px;
  height: 280px;
  margin-top: 60px;
  position: relative;
  background-color: #694f2d7e;
}

.project__info-angle::after {
  content: '';
  position: absolute;
  right: 0px;
  top: -40px;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-left: 20px solid #473e3e;
  border-bottom: 20px solid #473e3e;
}

.project__text-hidden {
  visibility: hidden;
}

@media (max-width: 1199px) {
  .works__title {
    font-size: 30px;
  }
  .works__title::after {
    -webkit-transform: scaleX(90);
            transform: scaleX(90);
    bottom: -27px;
  }
  .works__text {
    width: 750px;
    font-size: 20px;
    margin: 30px 0 50px 0;
  }
  .works__project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .project__figure {
    height: 336px;
    width: 600px;
  }
  .project__figure img {
    width: 100%;
  }
  .project__figure::before {
    top: 12%;
  }
  .project__figure::after {
    left: 8%;
    width: 500px;
  }
  .project__figure:hover::before {
    -webkit-transform: scaleX(8.85);
            transform: scaleX(8.85);
  }
  .project__figure:hover::after {
    -webkit-transform: scaleY(19);
            transform: scaleY(19);
  }
  .project__info {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    width: 600px;
    height: 240px;
  }
  .project__info-angle {
    margin-left: -40px;
    width: 560px;
    height: 40px;
    margin-top: 0px;
  }
  .project__info-angle::after {
    right: -40px;
    top: 0px;
    border: 20px solid transparent;
    border-left: 20px solid #473e3e;
    border-top: 20px solid #473e3e;
  }
  .project__info::before {
    display: none;
  }
  .project__name {
    font-size: 22px;
  }
  .project__text {
    max-height: 100px;
    font-size: 16px;
    line-height: 20px;
  }
  .project__stack {
    margin-right: 40px;
  }
  .project__stack-wrapper {
    margin-bottom: -20px;
  }
}

@media (max-width: 1023px) {
  .works__title {
    font-size: 24px;
  }
  .works__title::after {
    -webkit-transform: scaleX(80);
            transform: scaleX(80);
    bottom: -27px;
  }
  .works__text {
    width: 550px;
    font-size: 18px;
    line-height: 25px;
  }
  .project__figure {
    height: 275px;
    width: 491px;
  }
  .project__figure::before {
    top: 11%;
    height: 210px;
  }
  .project__figure::after {
    left: 8%;
    width: 410px;
  }
  .project__figure:hover::before {
    -webkit-transform: scaleX(7.5);
            transform: scaleX(7.5);
  }
  .project__figure:hover::after {
    -webkit-transform: scaleY(15.5);
            transform: scaleY(15.5);
  }
  .project__info {
    width: 491px;
    height: 200px;
    padding-left: 30px;
  }
  .project__info-angle {
    width: 451px;
  }
  .project__stack {
    display: none;
  }
  .project__name {
    font-size: 21px;
  }
  .project__text {
    font-size: 15px;
  }
  .project__read-more {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .works__container {
    padding: 30px 0 20px 0;
  }
  .works__title {
    margin: 0px;
    font-size: 20px;
  }
  .works__title::after {
    -webkit-transform: scaleX(70);
            transform: scaleX(70);
    bottom: -15px;
  }
  .works__text {
    width: 450px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .works__project {
    margin-bottom: 50px;
  }
  .project__figure {
    height: 220px;
    width: 393px;
  }
  .project__figure::before {
    opacity: 1;
    left: 43%;
    top: 13%;
    height: 160px;
    -webkit-transform: scaleX(5.7);
            transform: scaleX(5.7);
  }
  .project__figure::after {
    opacity: 1;
    left: 8%;
    width: 325px;
    -webkit-transform: scaleY(12);
            transform: scaleY(12);
  }
  .project__figure:hover::before {
    -webkit-transform: scaleX(5.7);
            transform: scaleX(5.7);
  }
  .project__figure:hover::after {
    -webkit-transform: scaleY(12);
            transform: scaleY(12);
  }
  .project__hover-content {
    background: rgba(0, 0, 0, 0.66);
  }
  .project__hover-content:hover .project__icon-arrow {
    -webkit-animation: none;
            animation: none;
  }
  .project__icon-view {
    opacity: 1;
  }
  .project__icon-view svg {
    width: 40px;
  }
  .project__icon-arrow {
    left: 10px;
    top: 0px;
  }
  .project__info {
    padding: 0 20px 0 20px;
    min-width: 393px;
    height: 150px;
    width: 393px;
  }
  .project__info-angle {
    right: -5px;
    width: 362px;
    height: 30px;
  }
  .project__info-angle::after {
    right: -30px;
    border: 15px solid transparent;
    border-left: 15px solid #473e3e;
    border-top: 15px solid #473e3e;
  }
  .project__text-wrapper {
    padding-top: 15px;
  }
  .project__name {
    font-size: 17px;
  }
  .project__text {
    max-height: 93px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
  }
  .project__read-more {
    margin-bottom: 5px;
    width: 60px;
    height: 25px;
  }
  .project__read-more::after {
    width: 7px;
    height: 7px;
  }
  .project__read-more span {
    font-size: 13px;
    display: block;
  }
}

@media (max-width: 567px) {
  .works__container {
    padding: 20px 0 20px 0;
  }
  .works__title {
    font-size: 18px;
  }
  .works__title::after {
    -webkit-transform: scaleX(50);
            transform: scaleX(50);
    bottom: -11px;
  }
  .works__text {
    width: 260px;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0px;
  }
  .works__project {
    margin-bottom: 50px;
  }
  .project__figure {
    height: 145px;
    width: 260px;
  }
  .project__figure::before {
    left: 40%;
    height: 105px;
    -webkit-transform: scaleX(3.7);
            transform: scaleX(3.7);
  }
  .project__figure::after {
    width: 215px;
    top: 47%;
    -webkit-transform: scaleY(7.5);
            transform: scaleY(7.5);
  }
  .project__figure:hover::before {
    -webkit-transform: scaleX(3.7);
            transform: scaleX(3.7);
  }
  .project__figure:hover::after {
    -webkit-transform: scaleY(7.5);
            transform: scaleY(7.5);
  }
  .project__icon-view svg {
    width: 30px;
  }
  .project__icon-arrow {
    left: 12px;
  }
  .project__info {
    padding: 0 10px 0 10px;
    min-width: 260px;
    height: 115px;
    width: 260px;
  }
  .project__info-angle {
    right: -10px;
    width: 240px;
    height: 20px;
  }
  .project__info-angle::after {
    right: -20px;
    border: 10px solid transparent;
    border-left: 10px solid #473e3e;
    border-top: 10px solid #473e3e;
  }
  .project__text-wrapper {
    padding-top: 10px;
  }
  .project__name {
    font-size: 15px;
  }
  .project__text {
    max-height: 70px;
    font-size: 11px;
    margin-top: 5px;
    line-height: 14px;
  }
  .project__read-more {
    margin-bottom: 10px;
    width: 50px;
    height: 20px;
  }
  .project__read-more span {
    font-size: 10px;
  }
  .project__read-more::after {
    width: 6px;
    height: 6px;
    right: 11px;
  }
}

@-webkit-keyframes hover-wave {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@keyframes hover-wave {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-wave-shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}

@keyframes hover-wave-shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}

.hover-git:hover, .hover-git:focus {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-animation: hover-wave 1.3s linear infinite alternate;
          animation: hover-wave 1.3s linear infinite alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hover-git:hover:before, .hover-git:focus:before {
  opacity: 0.4;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-animation: hover-wave-shadow 1.3s linear infinite alternate;
          animation: hover-wave-shadow 1.3s linear infinite alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hover-social:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer {
  width: 100%;
  min-height: 550px;
  z-index: 10;
  color: #ccc;
}

.footer__container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-image: url("../img/footer/footer__background.png");
  z-index: 0;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin-top: 90px;
  margin-bottom: 15px;
  font-size: 56px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.footer__text {
  text-align: center;
  width: 1200px;
  font-size: 20px;
  margin-bottom: 70px;
  line-height: 30px;
  font-family: 'Raleway-SemiBold', sans-serif;
}

.footer__text--ru {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 700;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
}

.footer__copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 50px;
}

.contact__hosting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

.contact__hosting-item {
  color: #e9e9e9;
  padding: 7px 50px;
  padding-bottom: 10px;
  text-align: center;
  width: 200px;
  font-size: 18px;
  font-family: 'Raleway-SemiBold', sans-serif;
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.contact__hosting-item:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.contact__gitlab {
  background: #e4800f;
}

.contact__gitlab-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/footer/icon_gitlab.png") no-repeat;
  background-size: contain;
  margin-bottom: -7px;
  margin-right: 10px;
}

.contact__github {
  background: #18c2e0;
}

.contact__github-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/footer/icon_github.png") no-repeat;
  background-size: contain;
  margin-bottom: -7px;
  margin-right: 10px;
}

.contact__telegram {
  background: url("../img/footer/icon_telegram.png");
}

.contact__twitter {
  background: url("../img/footer/icon_twitter.png");
}

.contact__skype {
  background: url("../img/footer/icon_skype.png");
}

.contact__vk {
  background: url("../img/footer/icon_vk.png");
}

.contact__fb {
  background: url("../img/footer/icon_fb.png");
}

.contact__social {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__social-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.contact__telegram, .contact__twitter, .contact__skype, .contact__vk, .contact__fb {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.contact__telegram:not(.contact__fb), .contact__twitter:not(.contact__fb), .contact__skype:not(.contact__fb), .contact__vk:not(.contact__fb), .contact__fb:not(.contact__fb) {
  margin-right: 30px;
}

@media (max-width: 1649px) {
  .footer__text {
    width: 950px;
  }
}

@media (max-width: 1199px) {
  .footer__title {
    font-size: 50px;
  }
  .footer__text {
    text-align: center;
    width: 750px;
    font-size: 18px;
    line-height: 25px;
  }
  .footer__copyright {
    font-size: 14px;
  }
  .contact__hosting-item {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .footer {
    min-height: 520px;
  }
  .footer__container {
    min-height: 520px;
  }
  .footer__title {
    font-size: 44px;
    margin-top: 70px;
  }
  .footer__text {
    width: 550px;
    font-size: 17px;
  }
  .footer__copyright {
    font-size: 12px;
  }
  .contact__hosting-item {
    width: 170px;
  }
  .contact__social-item {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 767px) {
  .footer {
    min-height: 430px;
  }
  .footer__container {
    min-height: 430px;
  }
  .footer__title {
    font-size: 38px;
    margin-top: 50px;
  }
  .footer__text {
    width: 450px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .footer__text--ru {
    width: 490px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .footer__copyright {
    margin-right: 20px;
    font-size: 11px;
  }
  .contact {
    padding-bottom: 40px;
  }
  .contact__hosting {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
  }
  .contact__hosting-item {
    width: 250px;
  }
  .contact__social-item {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 567px) {
  .footer__title {
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .footer__title--ru {
    margin-top: 40px;
    font-size: 30px;
  }
  .footer__text {
    width: 270px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .footer__text--ru {
    margin-top: 20px;
    width: 300px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .contact {
    padding-bottom: 40px;
  }
  .contact__hosting {
    padding-bottom: 20px;
  }
  .contact__hosting-item {
    font-size: 14px;
    width: 150px;
    height: 20px;
  }
  .contact__gitlab-icon, .contact__github-icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-height: 430px) {
  .footer {
    min-height: 320px;
  }
  .footer__container {
    min-height: 320px;
  }
  .footer__title {
    margin-top: 30px;
  }
  .footer__text {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 20px;
  }
  .contact {
    padding-bottom: 20px;
  }
  .contact__hosting {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 30px;
  }
  .contact__hosting-item {
    font-size: 14px;
    width: 120px;
    height: 17px;
  }
  .contact__gitlab-icon, .contact__github-icon {
    width: 23px;
    height: 23px;
  }
  .contact__social {
    padding: 0;
  }
}

.animated {
  -webkit-animation-duration: var(--animate-duration);
          animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.repeat-1 {
  -webkit-animation-iteration-count: var(--animate-repeat);
          animation-iteration-count: var(--animate-repeat);
}

.animated.repeat-2 {
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
          animation-iteration-count: calc(var(--animate-repeat) * 2);
}

.animated.repeat-3 {
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
          animation-iteration-count: calc(var(--animate-repeat) * 3);
}

.animated.delay-1s {
  -webkit-animation-delay: var(--animate-delay);
          animation-delay: var(--animate-delay);
}

.animated.delay-2s {
  -webkit-animation-delay: calc(var(--animate-delay) * 2);
          animation-delay: calc(var(--animate-delay) * 2);
}

.animated.delay-3s {
  -webkit-animation-delay: calc(var(--animate-delay) * 3);
          animation-delay: calc(var(--animate-delay) * 3);
}

.animated.delay-4s {
  -webkit-animation-delay: calc(var(--animate-delay) * 4);
          animation-delay: calc(var(--animate-delay) * 4);
}

.animated.delay-5s {
  -webkit-animation-delay: calc(var(--animate-delay) * 5);
          animation-delay: calc(var(--animate-delay) * 5);
}

.animated.faster {
  -webkit-animation-duration: calc(var(--animate-duration) / 2);
          animation-duration: calc(var(--animate-duration) / 2);
}

.animated.fast {
  -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
          animation-duration: calc(var(--animate-duration) * 0.8);
}

.animated.slow {
  -webkit-animation-duration: calc(var(--animate-duration) * 2);
          animation-duration: calc(var(--animate-duration) * 2);
}

.animated.slower {
  -webkit-animation-duration: calc(var(--animate-duration) * 3);
          animation-duration: calc(var(--animate-duration) * 3);
}

@media print, (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
            transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
  .animated[class*='Out'] {
    opacity: 0;
  }
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
            transform: translate3d(3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
            transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
            transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
            transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
            transform: translate3d(3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
            transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
            transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
            transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
            transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
            transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
            transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
            transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
            transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
            transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
            transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
            transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

@-webkit-keyframes fadeInBottomLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
            transform: translate3d(-100%, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInBottomLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
            transform: translate3d(-100%, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInBottomLeft {
  -webkit-animation-name: fadeInBottomLeft;
          animation-name: fadeInBottomLeft;
}

@-webkit-keyframes fadeInBottomRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInBottomRight {
  -webkit-animation-name: fadeInBottomRight;
          animation-name: fadeInBottomRight;
}

@-webkit-keyframes shakeY {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
}

@keyframes shakeY {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
}

.shakeY {
  -webkit-animation-name: shakeY;
          animation-name: shakeY;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222222;
}

a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.interblock-line {
  width: 80%;
  height: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-top: 2px solid gray;
  border-bottom: 2px solid #f5e6e6;
  border-radius: 50%;
}

.main-wrapper {
  background: url("../img/home/home__background.jpg") center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  min-height: 500px;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1920px;
  background: url("../img/about/about__background.png") no-repeat;
  background-size: cover;
}

.main-language {
  position: absolute;
  right: 10%;
  top: 30px;
}

.main-language__button {
  color: white;
  font-family: 'Tenoture', sans-serif;
  font-size: 18px;
  text-shadow: 0px 0px 7px white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-language__button:hover {
  color: red;
}

@media (max-width: 1600px) {
  .container {
    padding: 30px 0 60px 0;
  }
}

@media (max-width: 1023px) {
  .main-language__button {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .main-content {
    background: url("../img/about/about__background--mobile.png") no-repeat;
    background-size: cover;
  }
  .interblock-line {
    margin-top: 30px;
  }
  .main-language {
    top: 20px;
    right: 6%;
  }
}

@media (max-width: 567px) {
  .interblock-line {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */